<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119531702-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119531702-1');
    </script>
    <meta charset="UTF-8">
    <title>Unoficcial Fan Page</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/diff_stuff/favicon.jpg" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

</head>
<body>
<div id="fullscreen">
<ul class="menu">
    <li class="btn menu-item main-page">to battle!</li>
    <li><img class="logo" src="assets/dif_stuff/new_logo_iw.png"></li>
    <li class="btn menu-item statistics">who is the best?</li>
</ul>
<div id="con1" class="main-container">
    <div class="container">
        <div class="descript">
            <h1>Choose , who is the strongest superhero in war against Thanos?</h1>
        </div>
        <div class="left-panel" id="left-heroe">
            <div class="image" id="left-img">
                <h2 id="desc-left">nebula</h2>
            </div>
        </div>
        <div class="right-panel" id="right-heroe">
            <div class="image" id="right-img">
                <h2 id="desc-right">black panther</h2>
            </div>
        </div>
        <!--<div class="btn">Klick me</div>-->
    </div>
</div>
<div id="con2" class="main-container">
    <div class="container">
        <h1 id="anons">The full list of the results of the vote will be available on May 26, but now you can see results of 3 random heroes. Let the fight begin!</h1>
        <div id="res-list">
            <div id="example" class="hero-card col-md-4 col-sm-4">
                <div class="list-img">
                    <div id="desc-maint">
                        <h2 class="hero-name"></h2>
                        <h2 class="hero-ur"></h2>
                        <h3 class="wloses"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>